.drawer-head {
  color: var(--heading-gray);
  text-align: center;
  border-bottom: 2px solid var(--heading-gray);
  margin: 0 0.9rem;
}

.drawer-head-content {
  display: flex;
  justify-content: center;
}
