.dashboard {
  display: block;
  position: static;
}

#dashboard-map-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.resize-handle {
  text-align: center;
  flex: 0 1 0%;
  position: relative;
  outline: none;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width: 5rem;
  margin: 0px auto -1.25rem;
  padding: 0rem 0px 0.25rem;
  z-index: 1;
  cursor: ns-resize;
}

.logo {
  position: fixed;
  top: .7rem;
  right: .7rem;
  width: 80px;
  height: auto;
  color: #082a63;
  z-index: 1000;
}

.map-icon {
  color: #ffffff;
}

button.measure-icon {
  display: flex;
  transform: rotate(90deg);
  align-items: center;
  color: #000000;
}

button.change-unit {
  display: flex;
  font-size: medium;
  font-weight: bold;
  align-items: center;
  color: #000000;
}

button.clear-icon {
  display: flex;
  transform: rotate(90deg);
  align-items: center;
  color: #000000;
}

button.menu-open-icon {
  display: flex;
  align-items: center;
}

.nrt-station-note-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #8251df;
  font-size: .8rem;
  z-index: 100000;
}

.nrt-station-note {
  font-size: .8rem;
  color: #222;
}