.title-text {
  color: var(--main-blue);
  text-align: left;
  padding: 0.7rem;
  font-weight: bold;
}

.title-wrapper {
  position: absolute;
  top: 0.9rem;
  left: 0.9rem;
  max-width: 75%;
  width: auto;
  background-color: transparent;
  color: black;
  z-index: 999;
}

.title-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
